<html background>
	<head>
		<!-- <meta http-equiv="refresh" content="1" /> -->
		<link rel="icon" href="data:,">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
		<script>
			function doFilter() {
				window.location.href = '/{{ticker}}?date=' + $("#date").val() + '&from_time=' + $("#from_time").val() + '&to_time=' + $("#to_time").val();
			}

		</script>
	</head>

	<body style="background-color:black;">
		<div class="chart-wrapper">
			<h2 id="timesheader" style="background-color: white;">
				<span id="ticker">{{ticker}}</span>
				<input type="text" id="date" value="{{date if date}}" size="7" />
				<input type="text" id="from_time" value="{{from_time if from_time}}" size="3" />
				<input type="text" id="to_time" value="{{to_time if to_time}}" size="3" />
				<button type="button" id="range_button" onclick="doFilter()">Select</button>
				| <input type="text" id="skipInterval" value="" size="2" /> <button id="resetInterval">res</button>
				<span id="timesContainer"></span>
				| <span id="low" style="color:red">Low: {{data[ticker]['low']}}</span>
				| <span id="high" style="color: green">High: {{data[ticker]['high']}}</span>
				| <button id="streamSwitch">Stream</button>
			</h2>
			<canvas id="{{ticker}}"></canvas>
			<canvas id="RSIchart"></canvas>
		</div>
	</body>

	<script>
		const ticker = '{{ticker}}';
		let DATAINTERVAL = 1;

		let dataObj = {
			times: {{data[ticker]['times']|safe}},
			bids: {{data[ticker]['bids']}},
			asks: {{data[ticker]['asks']}},
			lasts: {{data[ticker]['lasts']}},
			volumes: {{data[ticker]['volumes']}},
		};

		const exists = (what) => {
			try {
				tmp = eval(what);
				return (tmp !== 'undefined' && tmp !== 'null') ? true : false;
			} catch (e) {
				return false;
			}
		}
	</script>
	<script src="/assets/js/chart_common.js"></script>
	<script src="/assets/js/price_chart.js"></script>
	<script src="/assets/js/rsi_chart.js"></script>
	<script>

		let timesArr = [-1, 0, 180, 120, 90, 60, 45, 30, 20, 15, 10, 5, 2, 1];
		timesArr.forEach(element => {
			let text = element + (element > 1 ? 'm' : 'm');
			if (element === 0) {
				text = 'Open';
			} else if (element === -1) {
				text = 'Today';
			}
			a = $('<a href="#">' + text + '</a>');
			a.click( e => {e.preventDefault(); showChartMinsBack(element); return false} );
			$('#timesContainer').append(' | ')
			$('#timesContainer').append(a);
		});


		$('#skipInterval').blur( (e) => { DATAINTERVAL = parseInt(e.target.value) } );
		$('#skipInterval').keypress( (e) => { if (e.which == 13) { DATAINTERVAL = parseInt(e.target.value) } } );
		$('#resetInterval').click( (e) => { $('#skipInterval').val(1); $('#skipInterval').blur(); } )
		$('#ticker').click( (e) => { stockChart.resetZoom(); } );
		$('#streamSwitch').click( (e) => { P = !P; } );

		let I = 1;
		let P = true;
		function runUpdateInterval() {
			setTimeout(runUpdateInterval, I*1000);
			if (P) {
				updateChartsWithNewData();
			}
		}

		runUpdateInterval();
	</script>
</html>