
<html background>
	<head>
		<!-- <meta http-equiv="refresh" content="1" /> -->
		<link rel="icon" href="data:,">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>

	<body>
		<div id="nav-header">
			<select id="ticker-select">
				<option value="">Ticker</option>
				{% for key in data.keys() %}
				<option value="{{key}}">{{key}}</option>
				{% endfor %}
			</select>
			<span>
				<input type="text" id="date" value="{{date if date}}" size="8" placeholder="YYYY-MM-DD" />
				<input type="text" id="from_time" value="{{from_time if from_time}}" size="4" placeholder="00:00:00" />
				<input type="text" id="to_time" value="{{to_time if to_time}}" size="4" placeholder="00:00:00" />
				<button type="button" id="datetime-button">Go</button>
				| <input type="text" id="skipInterval" value="" size="2" /> <button id="resetInterval">Reset</button>
			</span>
			<span id="mins-back-container"></span>
			<span style="color: black">| rolling?<input id="mins-back-rolling" type="checkbox"></input></span>
			<button id="stream-switch" style="float: right; vertical-align: middle;">Stream OFF</button>
		</div>
		<div class="chart-wrapper">
			<!-- Price Chart -->
			<div width="100%" style="columns:2; padding-top: 10px;">
				<div style="text-align: right;">
					<span id="ticker-symbol">{{ticker}}</span>
					<span class="ticker-low-container">Low: <span id="ticker-low">0</span></span>
					<span class="ticker-high-container">High: <span id="ticker-high">0</span></span>
				</div>
				<div id="price-chart-legend" class="custom-chart-legend"></div>
			</div>
			<canvas id="price_chart"></canvas>

			<!-- RSI Chart -->
			<div width="100%" style="columns:2; padding-top: 10px;">
				<div>
					<input id="volume-Y-axis-checkbox" type="checkbox" checked>Vol. Y-axis?</input>
					<select id="volume-controls">
						<option value="">Max Y-Axis</option>
					</select>
					<span>Total Volume: <span id="total-volume">0</span></span>
				</div>
				<div id="rsi-chart-legend" class="custom-chart-legend"></div>
			</div>
			<canvas id="RSIchart"></canvas>
		</div>

		<!-- <iframe id="refresher" src="http://127.0.0.1:5000/assets/refresher_frame.html"></iframe> -->
	</body>

	<script src="/assets/js/common.js"></script>
	<script>
		{% include 'global.js' %}
	</script>
	<script type="module" async>
		import { TickerNotification } from "/assets/js/alarm2.mjs";

		let allowed = ['bids', 'asks', 'lasts'];
		TickerNotification.askPermission((perm)=>{
			if (perm !== 'granted') {
				console.log('Permission is: ' + perm);
				return;
			}
			window.TN = new TickerNotification(allowed, GL.cur_data());
		});
	</script>
	<script src="/assets/js/alarm.js"></script>
	<script src="/assets/js/chart_common.js"></script>
	<script src="/assets/js/price_chart.js"></script>
	<script src="/assets/js/rsi_chart.js"></script>
	<script>
	</script>
	<script type="module">
		import { TM } from "/assets/js/modules/ticker_manager.mjs";

		// adding listeners
		TM.addTickerListener(GL.cur_ticker, GL.updateTickerStats);


		// TM.addPriceChangeListener('_all', 'low', v=>$('#ticker-low').text(v));
		// TM.addPriceChangeListener('_all', 'high', v=>$('#ticker-high').text(v));

		var tmp = {};
		for (const [ticker, obj] of Object.entries(GL.tickers)) {
			tmp[ticker] = obj.data;
		}
		TM.setTickerData(tmp);
		//TM.startSSEStream();
		TM.startIframeIntervalStream();

	</script>
</html>