<html background>
	<head>
		<!-- <meta http-equiv="refresh" content="1" /> -->
		<link rel="icon" href="data:,">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>
		<script>
			function doFilter() {
				window.location.href = '/q/{{ticker}}?date=' + $("#date").val() + '&from_time=' + $("#from_time").val() + '&to_time=' + $("#to_time").val();
			}

		</script>
		<style>
			body {
				background-color: Canvas;
				color: CanvasText;
				color-scheme: light dark;
			}

			.customChartLegendCSSClass {
				/* display: inline-block;
				background-color: aqua; */
				font-family: Arial, Helvetica, sans-serif;
				font-size: 20;
				float: right;
				padding-right: 50px;
				/* border: 1px solid green; */
			}
		</style>
	</head>

	<body style="background-color:black;">
		<div class="chart-wrapper">
			<h2 id="timesheader" style="background-color: white;">
				<select id="ticker-select">
					<option value="">Ticker</option>
					{% for key in data.keys() %}
					<option value="{{key}}">{{key}}</option>
					{% endfor %}
				</select>
				<input type="text" id="date" value="{{date if date}}" size="7" />
				<input type="text" id="from_time" value="{{from_time if from_time}}" size="3" />
				<input type="text" id="to_time" value="{{to_time if to_time}}" size="3" />
				<button type="button" id="range_button" onclick="doFilter()">Select</button>
				| <input type="text" id="skipInterval" value="" size="2" /> <button id="resetInterval">res</button>
				<span id="timesContainer"></span>
				| <span id="low" style="color:red">Low: {{data[ticker]['low']}}</span>
				| <span id="high" style="color: green">High: {{data[ticker]['high']}}</span>
				| <button id="streamSwitch">Stream OFF</button>
			</h2>

			<!-- Price Chart -->
			<div width="100%" style="columns:2;">
				<div id="ticker_symbol" style="font-family: Arial, Helvetica, sans-serif; color:#FFFFFF">{{ticker}}</div>
				<div id="PriceChartLegend" class="customChartLegendCSSClass"></div>
			</div>
			<canvas id="price_chart"></canvas>

			<!-- RSI Chart -->
			<div width="100%" style="columns:2;">
				<div style="font-family: Arial, Helvetica, sans-serif; color:#FFFFFF">
					<input id="volume-Y-axis-checkbox" type="checkbox" checked>Vol. Y-axis?</input>
					<select id="volume-controls">
						<option value="">Max Y-Axis</option>
					</select>
				</div>
				<div id="RSIchartLegend" class="customChartLegendCSSClass"></div>
			</div>
			<canvas id="RSIchart"></canvas>
		</div>

		<!-- <iframe id="refresher" src="http://127.0.0.1:5000/assets/refresher_frame.html"></iframe> -->
	</body>

	<script src="/assets/js/common.js"></script>
	<script>
		let GL = {
			data_interval: 1,
			tickers: {
				{% for key in data.keys() %}
				{{key}}: {
					data: {{data[key]|safe}},
					idx: 0,
				},
				{% endfor %}
			},
			cur_ticker: '{{ticker}}',
			volume_y_axis_ticks: [100000, 90000, 80000, 70000, 60000, 50000, 40000, 30000, 20000, 10000],
			mins_back_times: [-1, 0, 180, 120, 90, 60, 45, 30, 20, 15, 10, 5, 2, 1],
		};
		GL.cur_data = ()=>GL.tickers[GL.cur_ticker].data;

	</script>
	<script type="module">
		import {TickerNotification} from "/assets/js/alarm2.mjs";
		let allowed = ['bids', 'asks', 'lasts'];
		TickerNotification.askPermission((p)=>{
			if (p !== 'granted') {
				console.log('Permission is: ' + p);
				return;
			}
			window.tickerNotie = new TickerNotification(allowed, GL.cur_data());
		});
	</script>
	<script src="/assets/js/alarm.js"></script>
	<script src="/assets/js/chart_common.js"></script>
	<script src="/assets/js/price_chart.js"></script>
	<script src="/assets/js/rsi_chart.js"></script>
	<script>
		let timesArr = GL.mins_back_times;
		timesArr.forEach(element => {
			let text = element + (element > 1 ? 'm' : 'm');
			if (element === 0) {
				text = 'Open';
			} else if (element === -1) {
				text = 'Today';
			}
			a = $('<a href="#">' + text + '</a>');
			a.click( e => {e.preventDefault(); showChartMinsBack(element); return false} );
			$('#timesContainer').append(' | ')
			$('#timesContainer').append(a);
		});

		$('#ticker-select').change( e => {
			let val = $("#ticker-select option:selected").attr('value');
			if (val === '') return;
			window.location = val;
		})

		$('#skipInterval').blur( (e) => { GL.data_interval = parseInt(e.target.value) } );
		$('#skipInterval').keypress( (e) => { if (e.which == 13) { GL.data_interval = parseInt(e.target.value) } } );
		$('#resetInterval').click( (e) => { $('#skipInterval').val(1); $('#skipInterval').blur(); } )
		$('#ticker_symbol').click( (e) => { stockChart.resetZoom(); } );
		$('#streamSwitch').click( (e) => {
			P ? $('#streamSwitch').html('Stream OFF') : $('#streamSwitch').html('Stream ON');
			P = !P;
		 });

		GL.volume_y_axis_ticks.forEach( vol => {
			a = $('<option value="'+ vol +'">'+ vol +'</option>');
			$('#volume-controls').append(a);
			if (vol === 10000) $('#volume-controls').val(vol);
		});
		$('#volume-controls').change( e => {
			let val = $("#volume-controls option:selected").attr('value')
			if (val === '') return;
			rsiChart.options.scales.y_volume.max = parseInt(val);
		});

		$('#volume-Y-axis-checkbox').click( e => {
			rsiChart.options.scales.y_volume.display = !rsiChart.options.scales.y_volume.display;
		});

		let P = false;  // pause
		// function runUpdateInterval() {
		// 	if (!P) {
		// 		updateChartsWithNewData();
		// 	}
		// }

		// setInterval2(runUpdateInterval, 1000);

		let evtSource = null;

		let stream = () => {
			let data = GL.cur_data();
			let end = (data.times.length > 0) ? get_last(data.times) : [0,0,0];
			let begin = (data.times.length > 0) ? end.split(':') : [0,0,0];
			begin[2] = (data.times.length > 0) ? parseInt(begin[2]) + 1 : begin[2];  // want 1 second more
			prev_volume = (data.volumes.length > 0) ? get_last(data.volumes) : 0;
			let url = '/s/'+ GL.cur_ticker + '?prev_volume=' + prev_volume + '&from_time=' + begin.join(':');
			evtSource = new EventSource(url);
			evtSource.addEventListener("update", e => {
				updateChartsWithNewData(JSON.parse(e.data));
			});
			evtSource.addEventListener("end", function(event) {
				evtSource.close(); 
			});
		};

		if (evtSource === null || evtSource.readyState === 2) {
			stream();
		}

		//window.addEventListener('beforeunload', e=>evtSource.close() );

	</script>
</html>