
<html background>
	<head>
		<!-- <meta http-equiv="refresh" content="1" /> -->
		<link rel="icon" href="data:,">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js"></script>

		<script>
			function doFilter() {
				window.location.href = '/q/{{ticker}}?date=' + $("#date").val() + '&from_time=' + $("#from_time").val() + '&to_time=' + $("#to_time").val();
			}

		</script>
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>

	<body>
		<div id="nav-header">
			<select id="ticker-select">
				<option value="">Ticker</option>
				{% for key in data.keys() %}
				<option value="{{key}}">{{key}}</option>
				{% endfor %}
			</select>
			<span>
				<input type="text" id="date" value="{{date if date}}" size="8" placeholder="YYYY-MM-DD" />
				<input type="text" id="from_time" value="{{from_time if from_time}}" size="4" placeholder="00:00:00" />
				<input type="text" id="to_time" value="{{to_time if to_time}}" size="4" placeholder="00:00:00" />
				<button type="button" id="datetime-button">Filter</button>
				| <input type="text" id="skipInterval" value="" size="2" /> <button id="resetInterval">res</button>
			</span>
			<span id="mins-back-container"></span>
			<span style="color: black">| rolling?<input id="mins-back-rolling" type="checkbox"></input></span>
			<button id="stream-switch" style="float: right; vertical-align: middle;">Stream OFF</button>
		</div>
		<div class="chart-wrapper">
			<!-- Price Chart -->
			<div width="100%" style="columns:2; padding-top: 10px;">
				<div style="text-align: right;">
					<span id="ticker-symbol">{{ticker}}</span>
					<span class="ticker-low-container">Low: <span id="ticker-low">0</span></span>
					<span class="ticker-high-container">High: <span id="ticker-high">0</span></span>
				</div>
				<div id="price-chart-legend" class="custom-chart-legend"></div>
			</div>
			<canvas id="price_chart"></canvas>

			<!-- RSI Chart -->
			<div width="100%" style="columns:2; padding-top: 10px;">
				<div>
					<input id="volume-Y-axis-checkbox" type="checkbox" checked>Vol. Y-axis?</input>
					<select id="volume-controls">
						<option value="">Max Y-Axis</option>
					</select>
					<span>Total Volume: <span id="total-volume">0</span></span>
				</div>
				<div id="rsi-chart-legend" class="custom-chart-legend"></div>
			</div>
			<canvas id="RSIchart"></canvas>
		</div>

		<!-- <iframe id="refresher" src="http://127.0.0.1:5000/assets/refresher_frame.html"></iframe> -->
	</body>

	<script src="/assets/js/common.js"></script>
	<script>
		var GL = {
			tickers: {
				{% for key in data.keys() %}
				{{key}}: {
					data: {{data[key]|safe}},
					idx: 0,
				},
				{% endfor %}
			},
			cur_ticker: '{{ticker}}',
			IDX: 0,
			volume_y_axis_ticks: [100000, 90000, 80000, 70000, 60000, 50000, 40000, 30000, 20000, 10000],
			mins_back_times: [-1, 0, 180, 120, 90, 60, 45, 30, 20, 15, 10, 5, 2, 1],
			cur_mins_back: 15,
			mins_back_rolling: false,
			data_interval: 1,
			RSI_PERIODS: 14,
			EXPSMTH_TIMES: 2,
			P: false,
		};
		if ( Object.keys(GL.tickers).length == 0 ) {
			GL.tickers[GL.cur_ticker] = {'data': getDataStub()}
		}
		GL.cur_data = ()=>{
			if ( GL.cur_ticker in GL.tickers && 'data' in GL.tickers[GL.cur_ticker] ) {
				return GL.tickers[GL.cur_ticker].data;
			}
			return {};
		}
		window.GL = GL;
	</script>
	<script type="module" async>
		import { TickerNotification } from "/assets/js/alarm2.mjs";

		let allowed = ['bids', 'asks', 'lasts'];
		TickerNotification.askPermission((perm)=>{
			if (perm !== 'granted') {
				console.log('Permission is: ' + perm);
				return;
			}
			window.TN = new TickerNotification(allowed, GL.cur_data());
		});
	</script>
	<script src="/assets/js/alarm.js"></script>
	<script src="/assets/js/chart_common.js"></script>
	<script src="/assets/js/price_chart.js"></script>
	<script src="/assets/js/rsi_chart.js"></script>
	<script>

		$('#ticker-low').text( GL.cur_data().low );
		$('#ticker-high').text( GL.cur_data().high );
		$('#total-volume').text( GL.cur_data().volumes.slice(-1)[0]);

		//$('#datetime-button').

		GL.mins_back_times.forEach( n => {
			let cls = (n === GL.cur_mins_back) ? 'unclickable' : 'clickable';
			let text = n + 'm';
			if (n === 0) {
				text = 'Open';
			} else if (n === -1) {
				text = 'Today';
			}
			a = $(`<a href="#" class="${cls}">` + text + '</a>');
			a.click( e => {
				e.preventDefault();
				GL.cur_mins_back = n;
				if (e.target.classList.contains('unclickable')) return false;
				e.target.parentElement.querySelectorAll('.unclickable').forEach(
					el=>el.classList.replace('unclickable', 'clickable')
				)
				e.target.classList.replace('clickable', 'unclickable');

				if (n >= 1 && n <= 30) {
					GL.P = false;
				} else {
					GL.P = true;
				}
				showChartMinsBack2(n);
				return false;
			});
			$('#mins-back-container').append(' | ')
			$('#mins-back-container').append(a);
		});

		$('#ticker-select').change( e => {
			let val = $("#ticker-select option:selected").attr('value');
			if (val === '') return;
			GL.cur_ticker = val;
			$('#ticker-symbol').text(val);
			updateCharts();
		})

		$('#skipInterval').blur( (e) => { GL.data_interval = parseInt(e.target.value) } );
		$('#skipInterval').keypress( (e) => { if (e.which == 13) { GL.data_interval = parseInt(e.target.value) } } );
		$('#resetInterval').click( (e) => { $('#skipInterval').val(1); $('#skipInterval').blur(); } )
		$('#ticker-symbol').click( (e) => { stockChart.resetZoom(); } );
		$('#stream-switch').click( (e) => {
			GL.P ? $('#stream-switch').html('Stream OFF') : $('#stream-switch').html('Stream ON');
			GL.P = !GL.P;
		 });

		GL.volume_y_axis_ticks.forEach( vol => {
			a = $('<option value="'+ vol +'">'+ vol +'</option>');
			$('#volume-controls').append(a);
			// if (vol === 10000) $('#volume-controls').val(vol);
		});
		$('#volume-controls').change( e => {
			let val = $("#volume-controls option:selected").attr('value')
			if (val === '') return;
			rsiChart.options.scales.y_volume.max = parseInt(val);
		});

		$('#volume-Y-axis-checkbox').click( e => {
			rsiChart.options.scales.y_volume.display = !rsiChart.options.scales.y_volume.display;
		});

		$('#mins-back-rolling').change( (el)=> {
			GL.mins_back_rolling = el.target.checked;
		});

	</script>
	<script type="module">
		import { TM } from "/assets/js/modules/ticker_manager.mjs";

		// adding listeners
		TM.addTickerListener(GL.cur_ticker, (data)=>{
			data['low'] < $('#ticker-low').text() ? $('#ticker-low').text(data['low'] ) : null
			data['high'] < $('#ticker-high').text() ? $('#ticker-high').text(data['high'] ) : null
			true ? $('#total-volume').text( GL.cur_data().volumes.slice(-1)[0] ) : null
		});

		var tmp = {};
		for (const [ticker, obj] of Object.entries(GL.tickers)) {
			tmp[ticker] = obj.data;
		}
		TM.setTickerData(tmp);
		TM.startSSEStream();

	</script>
</html>